<div class="my-2">

    <h4 class="mb-2">Add a todo</h4>
    
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" [(ngModel)]="title" class="form-control" id="title"  name="title">
        </div>
        <div class="mb-3">
          <label for="description"  class="form-label">Todo description</label>
          <input type="text" [(ngModel)]="desc" class="form-control" id="description" name="desc">
        </div>
        <button type="submit" class="btn  btn-sm btn-success">Add Todo</button>
      </form>
</div>